# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Images de la collection (ignore toutes les images mais garde la structure des dossiers)
public/images/**/*.jpg
public/images/**/*.jpeg
public/images/**/*.png
public/images/**/*.webp
public/images/**/*.gif
public/images/**/*.svg

# Garde la structure des dossiers
!public/images/series/.gitkeep
!public/images/cards/.gitkeep